.form {
  background: radial-gradient(98.91% 230.7% at 1.09% 2.55%, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 100%);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 20px;
  width: 35%;
}
