.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  width: 20%;
  height: 100vh;
  background: var(--color-primary-700);

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;

    svg {
      margin-right: 1.25rem;
    }
  }
}
