.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  width: 20%;
  height: 100vh;
  background: var(--color-primary-700);

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 20px;
    font-family: 'Poppins', sans-serif;
    background: var(--color-primary-700);
    transition: 0.3s all ease-out;

    &:hover {
      background: var(--color-primary-800);
    }
  }

  &__link {
    font-size: 1.4rem;
  }

  &__icon {
    margin-right: 2rem;
  }
}
